[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gpiozero = "*"
firebase-admin = "*"
rpi-gpio = "*"
spidev = {file = "https://github.com/cloudformdesign/spidev/archive/master.zip"}

[requires]
python_version = "3.5"
